<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>352681865383-f6k50d5tmlc5m69dcvg1ip807uql7cmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352681865383-f6k50d5tmlc5m69dcvg1ip807uql7cmp</string>
	<key>API_KEY</key>
	<string>AIzaSyA0ugJigkJcv3gt3ieUttasyD5_Ftb5Gns</string>
	<key>GCM_SENDER_ID</key>
	<string>352681865383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kiwi-Saturn.Rangout-for-Buyer</string>
	<key>PROJECT_ID</key>
	<string>rangout-dda02</string>
	<key>STORAGE_BUCKET</key>
	<string>rangout-dda02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:352681865383:ios:1005869d00f523c5</string>
	<key>DATABASE_URL</key>
	<string>https://rangout-dda02.firebaseio.com</string>
</dict>
</plist>