<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rangout for Buyer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>423D863E1DE3F87800DDEBC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>423D86521DE3F87800DDEBC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>423D865D1DE3F87800DDEBC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
